<br>
<div class="row">
  <div class="col-md-4">

    <input type="date" class="form-control" [(ngModel)]="orderDate" value="{{orderDate}}" />
    <br>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let s of sets; let i = index">

        <span *ngIf="i==0; else unchecked">
          <input type="radio" name="radio" [(ngModel)]="idSet" value="{{s.id}}" />
        </span>
        <ng-template #unchecked>
          <input type="radio" name="radio" [(ngModel)]="idSet" value="{{s.id}}" />
        </ng-template>

        <label>&nbsp;&nbsp;{{s.name}}</label>
        <hr />

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let g of sets[i].goods; let j = index">
            <label>&nbsp;&nbsp;{{g.quantity}}</label>&nbsp;
            <label>{{g.name}}</label>
          </li>
        </ul>
        <label>{{'mainMenu.Price' | translate}}: {{prices[i]}}</label>

      </li>
    </ul>

    <input type="button" (click)="makeOrder()" class="btn btn-default" value="{{'mainMenu.Create' | translate}}" />

  </div>
</div>
